<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.0.7/semantic.min.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/main.css" type="text/css" />
  <script src="//oss.maxcdn.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="//oss.maxcdn.com/semantic-ui/2.0.7/semantic.min.js"></script>
</head>
<body class="pushable">

  <!-- Following Menu -->
  <div class="ui large top fixed menu transition hidden">
    <div class="ui container">
      <a class="active item" href="#top">Home</a>
      <a class="item" href="#work">Work</a>
      <a class="item" href="#contact">Contact</a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu left">
    <a class="active item" href="#top">Home</a>
    <a class="item" href="#contact">Contact</a>
    <a class="item">Contact</a>
  </div>


  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a class="active item" href="#top">Home</a>
          <a class="item" href="#work">Work</a>
          <a class="item" href="#contact">Contact</a>
        </div>
      </div>

      <div class="ui text container">
        <h1 class="ui inverted header">Hi, we're mobplug!</h1>
        <h2>We craft software for the web, desktop and mobile</h2>
        <a href="#contact" class="ui huge primary button">Get In Touch <i class="right arrow icon"></i></a>
      </div>

    </div>

    <div id="work" class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <h2>What We Do</h2>
        <div class="row showcase">
          <div class="eight wide column">
            <h3 class="ui header">
              <i class="fa fa-fw fa-desktop fa-lg"></i>
              Web Application Development
            </h3>
            <p>Using the Web to power your business</p>
          </div>
          <div class="eight wide column">
            <h3 class="ui header">
              <i class="fa fa-fw fa-tablet fa-lg"></i>
              Mobile Application Development
            </h3>
            <p>Build award-winning profit generating apps</p>
          </div>
        </div>
        <div class="row showcase">
          <div class="eight wide column">
            <h3 class="ui header">
              <i class="fa fa-fw fa-gear fa-lg"></i>
              Custom Software Development
            </h3>
            <p>Developing software tailored to your business</p>
          </div>
          <div class="eight wide column">
            <h3 class="ui header">
              <i class="fa fa-fw fa-heartbeat fa-lg"></i>
              Technology Strategy & Roadmapping
            </h3>
            <p>Providing a health-check for your Current IT Ops.</p>
          </div>
        </div>
        <div class="row">
          <div class="center aligned column">
            <p class="ui bold">Interested in working with us?</p>
            <a href="#contact" class="ui huge button">Let's Talk</a>
          </div>
        </div>
      </div>
    </div>


    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <h3>"mobplug is a great partner in fulfilling our product vision. They really know how to work with startups! We count on mobplug as an agile, collaborative development partner who also hits their deadlines."</h3>
            <p>
              <b>Taylor Levi</b> Founder and CEO
            </p>
          </div>
          <div class="column">
            <h3>"I have never gone water skiing but imagine this must be how it feels to be riding with the boat at full throttle! It is completely enjoyable and exhilarating to see the product unfolding into reality."</h3>
            <p>
              <b>Daniel Reeds</b> MD
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="contact" class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <h2>Contact</h2>
      </div>
      <form class="ui form container grid">
        <div class="eight wide column">
          <div class="field">
            <label>Name</label>
            <div class="one field">
              <div class="field">
                <input type="text" name="name" placeholder="John Doe" required>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Phone</label>
            <div class="one field">
              <div class="field">
                <input type="tel" name="phone" placeholder="+1 234 555 6789" required>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Email</label>
            <div class="one field">
              <div class="field">
                <input type="email" name="email" placeholder="you@yourdomain.com" required>
              </div>
            </div>
          </div>
        </div>
        <div class="eight wide column">
          <div class="field">
            <label>Comments</label>
            <div class="one field">
              <div class="field">
                <textarea name="comments" placeholder="What can we do for you?" required></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="center aligned column">
            <div class="ui success message">
              <div class="header">
                Your message was sent
              </div>
              <p>
                We will get in touch shortly.
              </p>
            </div>
            <button type="submit" class="ui button">Send Request</button>
          </div>
        </div>
      </form>
    </div>

    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui inverted vertical center aligned segment">
          © mobplug - All rights reserved
        </div>
      </div>
    </div>
  </div>

  <script src="main.js"></script>
</body>
</html>
